# Ignore node_modules directory
node_modules/

# Ignore .env file (if you are using environment variables and do not want to share them)
.env

# Ignore log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.idea/
.vscode/
*.swp
